.header-action_text .header-action__link .box-icon .count-holder{
    color: red!important;
    top: 0;
    right: 0;
    left: auto;
}
.wrapbox-content-cart{
    display: flex;
    .contentCart-detail{
        width: 60%;
    }
    .sidebarCart-sticky{
        width: 40%;
    }
}
.sidebox-order_action .btncart-checkout{
    width: auto;
}
.resultsContent{
    .item-ult{
        padding: 10px 10px;
        border-bottom: 1px dotted #dfe0e1;
        clear: both;
        display: flex;
        .thumbs{
            width: 40px;
            display: inline-block;
            text-align: right;
            order: 2;
        }
        .title{
            width: calc(100% - 40px);
            padding-right: 5px;
            float: left;
            line-height: 20px;
            position: relative;
            margin-top: 0px!important;
            a{
                font-size: 13px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: pre;
                float: left;
                width: 100%;
                margin-bottom: 4px;
            }
            p{
                line-height: 15px;
                font-size: 12px;
                font-weight: 600;
                float: left;
                margin: 0;
            }
        }
    }
}
.ultimate-search{
    position: relative;
    .wpo-search-inner{
        input{
            width: 100%;
            height: 35px;
            background: #ddd;
            border: 0;
            padding: 2px;
        }
    }
    #search-header-btn{
        position: absolute;
        right: -3px;
        top: 0;
        height: 38px;
        padding: 5px;
        border: 0;
        cursor: pointer;
    }
}