.header-action_text .header-action__link .box-icon .count-holder{
    color: red!important;
    top: 0;
    right: 0;
    left: auto;
}
.wrapbox-content-cart{
    display: flex;
    .contentCart-detail{
        width: 60%;
    }
    .sidebarCart-sticky{
        width: 40%;
    }
}
.sidebox-order_action .btncart-checkout{
    width: auto;
}